.DailyBox{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}
.DailyBox:hover{
    background: #eee;
}
/*日常容器排版*/
.DailyBox img{
    height: 360px;
    width: 360px;
    object-fit: contain;
}
/*相片寬高設置*/
.text-time{
    height: 360px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    overflow: scroll;
    font-family: sans-serif;
    font-weight: lighter;
}
/*文字容器排版＆溢出時為捲動樣式*/
.text-time p{
    text-align: right;
    font-weight: lighter;
    font-size:12px;
    color: #fff;
}
/*文字字體設置*/
.text-time::-webkit-scrollbar {
    display: none;
}
/*設定捲軸不顯示*/