.Website{
    position:absolute;
    left: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:20px;
    width: 78%;
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
/*網站容器排版*/
.Website h1, p{
    font-family: sans-serif;
}
/*標題＆說明字體設置*/
.text{
    position: absolute;
    top: 119px;
    opacity: 0;
    color: white;
    padding: 5px;
}
/*說明欄字色設定*/
.text:hover{
    opacity: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
}
/*設定hover時顯示說明*/
.Website p{
    font-weight: lighter;
}
/*說明之字粗設置*/
.Website iframe{
    height: 100%;
    width: 100%;
    border:none;
}
/*內置框架排版*/
.specialBackButton{
    content: " ";
    display: inline-block;
    height: 15px;
    width: 15px;
    border-bottom: 2px solid ;
    border-left: 2px solid ;
    transform: rotate(45deg);
    margin-left: 10px;
    margin-top: 10px;
}
/*以css畫箭頭*/
.specialModeBars{
    position:absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    border-top: 1px solid #000;
    margin-top: 10px;
}
.specialModeBars::before{
    content: " ";
    position: absolute;
    border-top: 1px solid #000;
    width: 30px;
    height: 30px;
    transform: translateY(10px);
}
.specialModeBars::after{
    content: " ";
    position: absolute;
    border-top: 1px solid #000;
    width: 30px;
    height: 30px;
    transform: translateY(20px);
}
/*導航列*/