body{
    background-color: bisque;
}
#overview{
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration:none;
    color: black;
}
a:hover{
    color: rgb(20, 230, 209);
}
.Layout{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
.Layout img{
    height: 410px;
    width: 590px;
    margin-left:30px;
    margin-bottom: 10px;
}
.Outline{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
.Schedule{
    font-family: sans-serif;
}
.Schedule table{
    margin-left: 30px;
    text-align: center;
}