.Slider{
    position: absolute;
    width: 700px;
    height:460px;
    margin-top: 30px;
}
/*元件位子&寬高設定（因按鈕會參考父原件因此需設寬高）*/
.imgContainer{
    position:absolute;
    opacity: 0;
    z-index: -1;
    transition: opacity 2s ease-out;
}
/*隱藏不需顯示的圖片＆設定過場動畫＆設定圖片圖層為最底*/
.imgContainer-active{
    opacity: 1;
    z-index: -1;
}
/*顯示圖片＆設定圖片圖層為最底*/
.Slider img{
    object-fit: contain;
    width: 700px;
    height:460px;
}
/*設定圖片填充樣式＆圖片寬高設定*/
.prevContainer{
    position: absolute;
    z-index: 1;
    left:0;
    height:100%;
    width:7%;
}
/*左按鈕排版*/
.prevContainer:hover{
    background-color: #aaa;
    opacity: 0.3;
}
/*設定左按鈕被hover時的背景*/
.prev{
    border-left: 2px solid;
    border-bottom: 2px solid;
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 5px;
    content: " ";
    display: inline-block;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    margin: 10px;
}
/*以CSS畫箭頭＆設定圖層為最上*/
.nextContainer{
    position: absolute;
    z-index: 1;
    right:0;
    height:100%;
    width:7%;
}
/*右按鈕排版*/
.nextContainer:hover{
    background-color: #aaa;
    opacity: 0.3;
}
/*設定右按鈕被hover時的背景*/
.next{
    border-left: 2px solid;
    border-bottom: 2px solid;
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 45%;
    right: 5px;
    content: " ";
    display: inline-block;
    height: 20px;
    width: 20px;
    transform: rotate(225deg);
    margin: 10px;
}
/*以CSS將按鈕變箭頭＆設定按鈕圖層為最上*/
.dot{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 30%;
}
/*導航點排版*/
.dotContainer{
    position: relative;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #fff;
    margin:0 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*建立導航點白色部分＆灰色部分置中*/
.dotContainer::before{
    content: " ";
    display: block;
    width: 80%;
    height: 70%;
    background-color: #999;
    border-radius: 3px;
    opacity: 0;
}
/*設定導航點灰色部分*/
.dotContainer-active::before{
    opacity: 1;
}
/*設定顯示單個導航點*/
.discription{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 200px;
    top: 0;
    left: 0;
    opacity: 0;
}
/*圖片說明排版*/
.discription p{
    text-align: center;
    font-size: 25px;
    color: #fff;
}
/*圖片說明字體設定*/
.discription-active{
    z-index: 4;
    background-image: linear-gradient(rgba(50, 50, 50, 1), rgba(255, 255, 255, 0));
}
/*圖片說明背景設定＆提升圖層*/
.discription-active:hover{
    opacity: 1;
}
/*圖片說明在滑鼠放置時顯示設定*/