.Daily{
    position:absolute;
    left: 300px;
    margin-right: 20px;
    margin-top: 30px;
}
/*日常貼文容器排版*/
@media screen and (max-width:900px) {
    .Daily{
        left: 0;
        margin-left:20px;
    } 
}
/*日常頁響應式設計*/