.Experience{
    position:absolute;
    left: 300px;
    margin-right: 20px;
    margin-top: 30px;
    font-family: sans-serif;
    font-weight:lighter;
}
/*學經歷容器排版*/
.TimelineContainer{
    display: flex;
    flex-direction:row;
}
/*時間軸容器排版*/
.TimelineContainer div{
    padding-right: 100px;
    padding-bottom: 30px;
}
/*避免兩時間軸重疊＆將末項線延長打造延續感*/
@media screen and (max-width:900px) {
    .Experience{
        left: 0;
        margin-left:20px;
    } 
}
/*學經歷頁響應式設計*/