.TimeLine li{
    list-style: none;
    position: relative;
    width:3px;
    padding-bottom: 200px;
    background:#aaa;
}
.TimeLine li::before{
    content: " ";
    position: absolute;
    left:50%;
    top: 0;
    transform:translateX(-50%);
    width:10px;
    height:10px;
    border-radius: 50%;
    background:inherit;
}
.TimeLine li:last-child{
    padding-bottom: 0px;
}
.TimeBox{
    margin-left: 10px;
    height: 0px;
    width: 150px;
    font-family: sans-serif;
}